<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Ассортимент</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>